body {
    margin: 0;
    overflow: hidden;
}

#screen {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
}

game {
    position: relative;
}

/************* STARTSIDE ****************/

#start_screen {
    background-image: url("Startskaerm_ny_2.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}


#play_button {
    background-image: url("spil_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 14vw;
    height: 8vw;
    left: 26vw;
    top: 12vw;
}


#settings_button {
    background-image: url("indstillinger_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 31.5vw;
    height: 8vw;
    left: 43vw;
    top: 12vw;
}

/************** SETTINGSKÆRM **************/

#settings {
    background-image: url("indstillinger_skaerm.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 66vw;
    height: 43vw;
    position: absolute;
    left: 18vw;
    top: 2.9vw;
}


#sound_sprite,
#music_sprite {
    background-size: 500% 100%;
    width: 15vw;
    height: 15vw;
    background-image: url("toggle_sprite.svg");
    display: inline-block;
    position: absolute;

}

#sound_sprite {
    top: 24.5vw;
    left: 44vw;

}

#music_sprite {
    top: 14vw;
    left: 44vw;
}

.on {
    background-position: 0;
}

.off {
    background-position: -400% 0;
}

.off_on {
    animation-name: on_off_kf;
    animation-direction: reverse;
    animation-duration: 0.15s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4);
}

.on_off {
    animation-name: on_off_kf;
    animation-duration: 0.15s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4);
}

@keyframes on_off_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}

#close_settings {
    background-image: url("luk_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7vw;
    height: 6vw;
    position: absolute;
    left: 58vw;
    top: 1.4vw;
    z-index: 6;
}


/************** INTROSKRÆRM ****************/

#intro_skaerm {
    background-image: url("introduktion_skaerm.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 66vw;
    height: 43vw;
    position: absolute;
    left: 18vw;
    top: 2.9vw;
}

#videre_knap {
    background-image: url("videre_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 8vw;
    position: absolute;
    left: 23vw;
    top: 30.2vw;
}


/************** EMAIL 1 ********************/

#game_background1 {
    background-image: url("Scene_1.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#gem1 {
    background-image: url("gem_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 8vw;
    height: 9vw;
    position: absolute;
    left: 69.5vw;
    top: 12vw;
}

#slet1 {
    background-image: url("slet_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 8vw;
    height: 9vw;
    position: absolute;
    left: 69.5vw;
    top: 22vw;
}

#videresend1 {
    background-image: url("videresend_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 8vw;
    position: absolute;
    left: 68.7vw;
    top: 33vw;
}


#korrekt1 {
    background-image: url("dilemma_1_korrekt.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 66vw;
    height: 43vw;
    position: absolute;
    left: 18vw;
    top: 2.9vw;
}

#forkert1 {
    background-image: url("dilemma_1_forkert.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 66vw;
    height: 43vw;
    position: absolute;
    left: 18vw;
    top: 2.9vw;
}

#videre1 {
    background-image: url("videre_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 8vw;
    position: absolute;
    left: 42vw;
    top: 32vw;
}

/************** EMAIL 2 ********************/

#game_background2 {
    background-image: url("Scene_2_ny.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#gem2 {
    background-image: url("gem_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 8vw;
    height: 9vw;
    position: absolute;
    left: 69.5vw;
    top: 12vw;
}

#slet2 {
    background-image: url("slet_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 8vw;
    height: 9vw;
    position: absolute;
    left: 69.5vw;
    top: 22vw;
}

#videresend2 {
    background-image: url("videresend_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 8vw;
    position: absolute;
    left: 68.7vw;
    top: 33vw;
}


#korrekt2 {
    background-image: url("dilemma_2_korrekt.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 66vw;
    height: 43vw;
    position: absolute;
    left: 18vw;
    top: 2.9vw;
}

#forkert2 {
    background-image: url("dilemma_2_forkert.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 66vw;
    height: 43vw;
    position: absolute;
    left: 18vw;
    top: 2.9vw;
}

#videre2 {
    background-image: url("videre_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 8vw;
    position: absolute;
    left: 42vw;
    top: 32vw;
}

/************** EMAIL 3 ********************/

#game_background3 {
    background-image: url("Scene_3_ny.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#gem3 {
    background-image: url("gem_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 8vw;
    height: 9vw;
    position: absolute;
    left: 69.5vw;
    top: 12vw;
}

#slet3 {
    background-image: url("slet_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 8vw;
    height: 9vw;
    position: absolute;
    left: 69.5vw;
    top: 22vw;
}

#videresend3 {
    background-image: url("videresend_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vw;
    height: 8vw;
    position: absolute;
    left: 68.7vw;
    top: 33vw;
}


#korrekt3 {
    background-image: url("dilemma_3_korrekt.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 66vw;
    height: 43vw;
    position: absolute;
    left: 18vw;
    top: 2.9vw;
}

#forkert3 {
    background-image: url("dilemma_3_forkert.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 66vw;
    height: 43vw;
    position: absolute;
    left: 18vw;
    top: 2.9vw;
}

#videre3 {
    background-image: url("videre_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 8vw;
    position: absolute;
    left: 42vw;
    top: 32vw;
}

/************* SLUTSKÆRME *****************/

#faengsel {
    background-image: url("slutskaerm_faengsel.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 88vw;
    height: 36vw;
    position: absolute;
    left: 7vw;
    top: 9vw;
}

#spiligen1 {
    background-image: url("spil_igen_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 7vw;
    position: absolute;
    left: 33vw;
    top: 24vw;
}

#privatsnak1 {
    background-image: url("privatsnak_logo.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16vw;
    height: 12vw;
    position: absolute;
    left: 62vw;
    top: 20vw;
}

#fri {
    background-image: url("slutskaerm_fri.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 94vw;
    height: 50vw;
    position: absolute;
    left: 1vw;
    top: -3vw;
}

#spiligen2 {
    background-image: url("spil_igen_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 7vw;
    position: absolute;
    left: 42vw;
    top: 37vw;
}

#privatsnak2 {
    background-image: url("privatsnak_logo.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16vw;
    height: 12vw;
    position: absolute;
    left: 68vw;
    top: 34vw;
}


#plet {
    background-image: url("slutskaerm_plet.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 92vw;
    height: 35vw;
    position: absolute;
    left: 3vw;
    top: 9vw;
}

#spiligen3 {
    background-image: url("spil_igen_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 7vw;
    position: absolute;
    left: 35vw;
    top: 23vw;
}

#privatsnak3 {
    background-image: url("privatsnak_logo.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16vw;
    height: 12vw;
    position: absolute;
    left: 64vw;
    top: 20vw;
}

/************** ANIMATIONER ****************/

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}


.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_kf {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.blur {
    filter: blur(5px) brightness(80%);
}
